.custom-marquee {
    background-color: #222222;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    padding-top: -60px;
  }
  .marquee-content {
    display: flex;
    align-items: center;
    white-space: nowrap;
    animation: scroll-left 20s linear infinite; 
  }
  .arrow {
    height: 40px;
    margin: 0 20px;
  }
  .email, .talk-text {
    font-weight: bold;
    color: white;
    font-size: 32px;
    margin: 0 20px;
  }
  .email {
    margin-right: 20px;
  }
  
  .talk-text {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  @keyframes scroll-left {
    0% {
        transform: translateX(100%); 
    }
    100% {
        transform: translateX(-100%); 
    }
  }